* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero-section {
    background-color: #1F2937;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 20px;
}

.nav-bar a {
    text-decoration: none;
}

.links a {
    color: grey;
}

.nav-bar a:hover {
    color: #3B82F6;
}

.logo a {
    color: #ffffff;
}

.links {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 50px;
}



/*  main section*/

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-img {
    width: 1000px;
}

.hero-text {
    text-align: justify;
}


/* info section */
.info {
    /*=> info-title info-images*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.info-images {
    /*info-image-container  4 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* 
.info-image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    }
    .info-text{
        text-wrap: wrap;
        } */
.info-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}

.info-images .img {
    height: 60px;
    width: 80px;
    border: 3px solid #3B82F6;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 4px;
}

/* quotes */

.quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 0 auto;
    background-color: #E5E7EB;
}

.quote-author {
    display: flex;
    justify-content: end;
}

/* sign up box */
.sign-up-box {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    background-color: #3B82F6;
}

.sign-up-button {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.sign-up-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3B82F6;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #E5E7EB;
}

footer{
    height: 40x;
    padding: 20px;
    justify-content: center;
    background-color: #1F2937;
    color: #ffffff;
    text-align: center;
}